@import "src/styles"

.container
    max-width: 800px

h1
    font-size: 3rem
    font-family: 'Brush Script MT', cursive

.ft-table
    height: 500px
    overflow-y: scroll

thead
    top: 0
    position: sticky
    background-color: $background-color

.arrow
    transition-duration: 0.35s
    transition-property: transform

.arrow--open
    transform: rotate(90deg)

.arrow--close
    transform: rotate(0deg)

iframe
    max-width: 560px
    aspect-ratio: 560 / 315
