@import "src/styles"

h1
    font-size: 3rem
    font-family: 'Brush Script MT', cursive

.ft-table-button,
.controls
    max-width: 800px

.collapsible
    max-height: 0px
    transition: max-height .5s ease

.ft-table
    width: 100%
    max-width: 800px
    overflow-y: scroll
    overflow-x: scroll

thead
    top: 0
    position: sticky
    background-color: $background-color

.arrow
    transition-duration: .5s
    transition-property: transform

.arrow--open
    transform: rotate(90deg)

.arrow--close
    transform: rotate(0deg)

.formula
    max-height: 70px

iframe
    max-width: 560px
    aspect-ratio: 560 / 315
