<main class="container d-flex flex-column align-items-center my-2">
  <h1 class="text-center">Fourier drawer</h1>
  <p class="text-center">Draw a shape below, and a Fourier series will be calculated approximating it!</p>
  <graph
    #graph
    [circles]="circles"
    [terms]="terms"
    [speed]="speed"
    [(reset)]="reset"
  ></graph>
  <div class="row w-100 align-items-end my-2">
    <div class="col-12 col-sm-auto d-flex justify-content-center align-items-end mt-2 px-2">
      <div class="col d-flex justify-content-end">
        <button
          class="btn btn-primary reset-button text-center"
          (click)="handleReset()"
        >Reset</button>
      </div>
      <div class="col-auto d-flex flex-column align-items-center mx-3">
        <div class="text-center">Terms</div>
        <input
          id="terms"
          class="form-control terms-input text-center"
          placeholder="50"
          [ngClass]="{ 'is-invalid': termsError }"
          (ngModelChange)="handleTermsInputChange($event)"
          [(ngModel)]="termsInput"
        >
      </div>
      <div class="col d-flex flex-column switch-container">
        <div>Circles</div>
        <div class="d-flex align-items-center circle-switch form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            [(ngModel)]="circles"
          >
        </div>
      </div>
    </div>
    <div class="col flex-column mt-2 p-0">
      <div class="text-center">Speed</div>
      <div class="d-flex speed-slider align-items-center">
        <input
          class="form-range"
          type="range"
          min="0"
          max="100"
          step="1"
          [(ngModel)]="speedInput"
        >
      </div>
    </div>
  </div>
  <h2 class="w-100 text-left mt-4">What am I looking at?</h2>
  <p class="mt-3">
    What you are seeing is the power of the <strong>Fourier transform</strong> used on a set of points provided by your
    <strong>mouse</strong> (courtesy of you, of course).
  </p>
  <p>
    It turns out that <strong>any</strong> shape can be drawn using a sufficiently <strong>large amount of
      vectors</strong> rotating at different speeds. By tweaking the <strong>length</strong> of every vector and the
    <strong>angle</strong> at which it
    starts rotating, we can trace out our desired drawing.
  </p>
  <p class="hint">Below you can take a look at the parameters that produce your drawing...</p>
  <button
    class="w-100 ft-table-button btn btn-primary d-flex"
    (click)="toggleVectorData()"
  >
    <label class="flex-grow-1">Vector data</label>
    <svg
      class="arrow"
      [ngClass]="{ 'arrow--open': vectorDataVisible, 'arrow--close': !vectorDataVisible }"
      style="width:24px;height:24px"
      viewBox="0 0 24 24"
    >
      <path
        fill="currentColor"
        d="M5.5,4.14L4.5,5.86L15,12L4.5,18.14L5.5,19.86L19,12L5.5,4.14Z"
      />
    </svg>
  </button>
  <section
    #ftTable
    class="ft-table collapsible mt-3"
  >
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{viewwidth > 400 ? 'Frequency' : 'f'}}</th>
          <th>Length</th>
          <th>{{viewwidth > 350 ? 'Starting angle' : 'Phase'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coeff of graph.ftCoeffs; let i = index">
          <td>{{getFrequency(i)}}</td>
          <td>{{getMagnitude(coeff)}}</td>
          <td>{{getAngle(coeff)}}&#176;</td>
        </tr>
      </tbody>
    </table>
  </section>
  <h2 class="w-100 mt-4">How do we find these parameters?</h2>
  <p class="mt-3">
    That is where the <strong>Fourier transform</strong> comes into play. Using the <strong>formula</strong> below we
    can calculate the
    starting
    conditions for a vector with frequency &#x3be;.
  </p>
  <img
    class="w-100 formula"
    src="assets/formula.svg"
  >
  <p class="mt-2">
    If you would like to learn more about the math involved in this, check out this <strong>video</strong> by
    <strong>3blue1brown</strong>. It provides a nice, <i>intuitive</i> explanation.
  </p>
  <iframe
    class="w-100 mb-3"
    src="https://www.youtube.com/embed/r6sGWTCMz2k"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <p class="mt-3">
    Normally an <i>infinite</i> integral would be quite the headache, but in the case of this app the function we are
    trying to draw is either
  </p>
  <ul class="w-100">
    <li>Defined in the range of the canvas</li>
    <li>Assumed to be zero</li>
  </ul>
  <p class="w-100">
    The output of our function will be a <strong>complex number</strong>. The magnitude of this number is the
    <strong>length</strong> of our vector, and its argument is the starting <strong>angle</strong>.
  </p>
  <p class="w-100">
    A <strong>common</strong> choice for used frequencies are natural numbers and their corresponding opposites,
    <span class="text-nowrap">
      so <i><strong>1, -1, 2, -2</strong></i> and so on...
    </span>
  </p>
  <p class="w-100">
    After we get our vectors, all that remains is tracing out the path they follow and <i>voila</i>! We have our
    drawing.
  </p>
  <hr class="w-80">
  <footer class="d-flex flex-column justify-content-center">
    <p class="hint text-center">Thanks for reading my page!</p>
    <p class="hint">
      Created by
      <a
        class="hint"
        href="https://www.linkedin.com/in/dominik-wawrzyniuk-56a23a243/"
      >Dominik Wawrzyniuk</a> |
      <a
        class="hint"
        href="https://github.com/lazurastv/Fourier-drawer"
      >GitHub</a>
    </p>
  </footer>
</main>