<main>
  <div class="container mt-5">
    <h1 class="text-center">Fourier drawer</h1>
    <p class="text-center">Draw a shape below, and a Fourier series will be calculated approximating it!</p>
  </div>
  <div class="container">
    <graph
      [circles]="circles"
      [terms]="terms"
      [speed]="speed"
      [(reset)]="reset"
    ></graph>
    <div class="row justify-content-center align-items-center">
      <div class="col-auto mt-3">
        <button
          class="btn btn-primary"
          (click)="handleReset()"
        >Reset</button>
      </div>
      <div class="col-8 col-sm-8 col-md-3 mt-3">
        <input
          id="terms"
          class="form-control"
          [ngClass]="{ 'is-invalid': termsError }"
          placeholder="Terms (default {{DEFAULT_TERMS}})"
          (ngModelChange)="handleTermsInputChange($event)"
          [(ngModel)]="termsInput"
        >
        <div *ngIf="termsError">{{termsError}}</div>
      </div>
      <div class="col-auto mt-3">
        <div class="form-check form-check-inline form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            [(ngModel)]="circles"
          >
          <label class="form-check-label">Circles</label>
        </div>
      </div>
      <div class="col-7 col-md-5 mt-3">
        <label
          for="speed"
          class="form-label"
        >Animation speed</label>
        <input
          id="speed"
          class="form-range"
          type="range"
          min="0"
          max="100"
          step="1"
          [(ngModel)]="speedInput"
        >
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/r6sGWTCMz2k"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</main>